@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "nunito";
	src: url("./assets/fonts/Nunito-VariableFont_wght.ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
    @apply bg-slate-900;
}

div.container {
	@apply relative max-w-screen-lg px-4 mx-auto;
}
