@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "nunito";
	src: url("./assets/fonts/Nunito-VariableFont_wght.ttf");
	font-weight: normal;
	font-style: normal;
}

:root {
    @apply bg-slate-600 relative w-full overflow-x-hidden;
  }